################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/**/**/appsettings.Development.json
/src/**/**/.vs
/src/**/**/bin
/src/**/**/obj
